html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #444;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}

.header {
  flex: 0 0 auto;
  background: #eee;
  padding: 2rem 0 0;
  box-shadow: inset 0 -0.375rem 0.25rem -0.25rem rgba(0, 0, 0, 0.1);
}

.footer {
  flex: 0 0 auto;
  background: #eee;
  padding: 2rem 0 1rem;
  text-align: center;
  box-shadow: inset 0 0.375rem 0.25rem -0.25rem rgba(0, 0, 0, 0.1);
}

.container {
  margin: 0 auto;
  max-width: 32rem;
  padding: 2rem 1rem;
}

.frame {
  position: relative;
  padding: 2rem 0 0rem;
}

.frame::after {
  content: " ";
  display: block;
  background: #eee;
  width: 2rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  margin: 2rem auto 0;
  box-shadow: inset 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.frame__title {
  color: #888;
  margin: 0 0 1rem;
}

.form-field {
  padding: 0.5rem 0;
}

.form-field__label {
  font-weight: bold;
  color: #666;
}

.form-field__label-required {
  font-size: 0.8rem;
  font-weight: normal;
  color: #e63;
  padding: 0.5rem 0;
}

.form-field__note {
  font-size: 0.8rem;
  color: #666;
  padding: 0.5rem 0 0;
}

.entry,
.textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: inset 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  width: 100%;
}

.entry:focus,
.textarea:focus {
  outline: 0.125rem solid hsl(206, 71%, 53%);
  box-shadow: inset 0 0.125rem 0.25rem hsla(206, 71%, 53%, 0.2);
}

.app-checkbox {
  width: 50px;
  height: 20px;
  margin-right: 10px;
}

.app-checkbox,
.app-checkbox + label {
  cursor: pointer;
}

.order-summary {
  width: 100%;
  padding: 0.5rem 0;
}

.order-summary td,
.order-summary th {
  border-bottom: 1px solid #eee;
  padding: 0.5rem;
}

.order-summary tbody td:first-child img {
  height: 80px;
}

.order-summary tbody td:last-child {
  text-align: center;
}

.beta-wrapper {
  display: inline-flex;
}

form button {
  display: block;
  width: 100%;
  background-color: #02a146;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.15385;
  margin: 1.5rem 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

form button:hover,
form button:focus {
  background-color: #018f3e;
}

form button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

form button:active {
  background-color: #01692e;
  box-shadow: none;
}

.post-wrapper {
  margin-bottom: 2.5rem;
}

.post-wrapper:last-child {
  margin-bottom: 0;
}

.post-title-wrapper {
  display: flex;
  padding: 1.25rem 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.post-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.post-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  text-decoration: none;
}

a.post-title,
a.post-title:link,
a.post-title:visited {
  color: #444444;
}

a.post-title:hover {
  color: #5c5c5c;
}

a.post-title:active {
  color: #3c3c3c;
}

.post-title span {
  margin-left: 0.5rem;
}

.post-details span {
  color: #7c7c7c;
  font-size: 0.8rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.post-details-wrapper .detail {
  margin: 0;
}

.post-details-wrapper .detail .value {
  margin-left: 0.5rem;
}
